.feet{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  bottom: 0;
  background-color: black;
}

.footersky {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.footer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items:  center;
  justify-content: space-between;
  
}
    .mainfooter {
      width: 100%;

      height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

        .light{
          position: absolute;
          z-index: 1;
          top: 7%;
          width: 2500px;
        }

        .sunburn {
          position: absolute;
          z-index: 1;
          top: 25%;
          width: 2800px;
        }

        .Lname {
          position: absolute;
          z-index: 1;
          top: 40%;
          width: 80%;
        }

    @keyframes slid {
      from{
        transform: translateX(0);
      }
      to{
        transform: translateX(-100%);
      }
    }

    .contacts {
      top: 0;
      transform: translateY(-500%);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    }

    .contacts:hover .contacts-slid {
    animation-play-state: paused;
    }

    .contacts-slid {
    display: inline-block;
    animation: 30s slid infinite linear;

    }

    .contacts-slid img {
    height: 60px;
    margin: 0 80px;
    bottom: 0;
    z-index: 100;
    }