#blackbg {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
    #blackholebg {
      position: absolute;
      width: 30%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      }

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%; 
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
      }

          .item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 7%;
            height: 10%;
          }
            
              .logos {
                width: 100%;
                z-index: 2;
              }

#ship {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

#rocket {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 13%;
  z-index: 2;
}

.buttonContainer {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  padding-left: 28%;
}

.button,
.clicked {
  width: 3.5vw;
  z-index: 100;
}