.wrapper {
  max-height: 120px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.wrapper .item {
  min-width: 110px;
  height: 110px;
  line-height: 110px;
  /* background-color: #ddd; */
  align-items: center;

  display: block;
  /* background: black; */
  border-radius: 50%;
  margin-left: 2%;
  /* background: radial-gradient(circle at 100px 100px, #ffffff, #000000); */
}

.logos {
  margin-top: 25px;
  width: 60px;
}

.figma {
  margin-top: 30px;
  width: 60px;
}