.all {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, rgb(29, 6, 58), rgb(9, 21, 58));
}
    .title {
      width: 100%;
      height: 240px;
      position: relative;
      z-index: 1;

      text-align: center;
    }

    .h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      color: #5aef63;
      font-size: 60px;
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
    }

    @keyframes slide {
      from{
        transform: translateX(0);
      }
      to{
        transform: translateX(-100%);
      }
    }

    .cerificates {
      overflow: hidden;
      padding: 60px 0;
      white-space: nowrap;
      position: relative;
    }

    .cerificates:before,
    .cerificates:after {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
    }

    .cerificates:before {
      left: 0;
      background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(9, 21, 58));
    }

    .cerificates:after {
      right: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(29, 6, 58));
    }

    .cerificates:hover .cerificates-slide {
      animation-play-state: paused;
    }

    .cerificates-slide {
      display: inline-block;
      animation: 60s slide infinite linear;
    }

    .cerificates-slide img {
      border-radius: 10px;
      box-shadow: -5px 5px 8px 5px #888888;
      height: 600px;
      margin: 0 40px;
    }